body {
    margin: 0;
    color: white;
    font-family: sans-serif;

    background: linear-gradient(
        to bottom,
        #2F005E 0%,
        #26B5CC 100%
    );
}

#title-logo {
    display: block;
    width: 1200px;
    max-width: 95vw;
    height: auto;
    margin: 0 auto;
}

#content {
    min-height: 100vh;
}

#top-bg,
#bottom-bg {
    display: block;
    width: 100%;
    height: auto;
}

#header {
    text-align: center;
    padding: 40px;
}

#gallery {
    width: 900px;
    max-width: 95%;
    margin: auto;
}

#gallery img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 24px;
}

.controls button,
.controls select {
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 16px 24px;
    cursor: pointer;
	background-color: transparent;
}