body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    margin: 0;
    color: white;
    font-family: sans-serif;
}

#header {
    text-align: center;
    padding: 40px;
}

#gallery {
    width: 900px;
    margin: auto;
}

#gallery img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

#controls {
    text-align: center;
    padding: 40px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    padding: 24px;
}

.controls button,
.controls select {
    font-size: 16px;
    padding: 8px 12px;
}